<p>Olá {{ username }}, você recebeu este e-mail pois foi autorizado a enviar dados<br/>
para o método {{ method }} na API do Data Lake MP em Mapas.
Seguem abaixo informações sobre os dados esperados e instruções para a realização do envio.</p>
<br/>
<strong>Descrição dos Dados</strong>
<br/>

{{ description }}
<br/><br/>

<strong>Protocolo/Método</strong>
  HTTP - POST

<br/>

<strong>Enctype</strong>
  multipart/form-data

<br/>

<strong>URL:</strong>
  https://datalakecadg.mprj.mp.br/api/upload/

<br/><br/>

<strong>Campos esperados</strong>
<br/>Cada método tem campos diferentes pré determinados que devem aparecer na primeira linha do arquivo CSV.
<br/>Campos esperados para o método {{ method }}:<br/><br/>
{% for header in headers %}
    <li>{{ header }}</li>
{% endfor %}
</ul>

<br/>

<strong>Nome do Arquivo</strong>
<ul>
<li>Formato aceito:[a-z0-9]+).csv.gz ex.: placas_20190110231245.csv.gz</li>
<li>Adicione no nome do arquivo a data e hora do envio para evitar colisão</li>
<li>Caso sejam enviados dois arquivos com mesmo nome pelo mesmo usuário o primeiro será sobrescrito</li>
</ul>

<br/>

<strong>Formato do arquivo esperado</strong><br/>
 É esperado em cada envio um arquivo GZIP contendo um CSV<br/><br/>
 Especificações do CSV:<br/>
 <ul>
    <li>Charset: UTF-8</li>
    <li>Separator: ;</li>
    <li>Quote: ""</li>
    <li>Line terminator: \\n</li>
 </ul>

<br/>

<strong>Campos do Header do POST:</strong>
<ul>
  <li>'filename': (string) nome completo do arquivo, ex.: placas_20190110.csv.gz</li>
  <li>'nome': (string) nome do usuário - '{{ username }}'</li>
  <li>'md5': (string) hash MD5 hexadecimal de 32 posições do arquivo enviado, em minúsculas</li>
  <li>'method':(string) nome do método - '{{ method }}'</li>
  <li>'SECRET':(string) Chave hexadecimal - '{{ secret }}'</li>
  <li>'file' (Bytes): Arquvio a ser enviado para a MPRJ</li>
</ul>

<br/>


<strong>Respostas</strong>
<ul>
    <li>OK: status_code: 201 - Arquivo salvo com sucesso</li>
    <li>Não OK: status code: 400 - Extensão do arquivo enviado inválida ou cabeçalhos do arquivo csv inválidos</li>
    <li>Não OK: status code: 403 - SECRET, username e/ou method estão errados</li>
    <li>Não OK: status code: 415 - md5 enviado não é o mesmo que o calculado em nosso serviço</li>
</ul>
<br/>

<strong>Importante</strong>
<p>Os arquivos são registrados no Big Data por seus nomes.
Normalize o nome do arquivo de acordo com seu lote e índice, para que arquivos
anteriores
não sejam sobrescritos.
Arquivos novos sobrescreverão arquivos homônimos no BDA.</p>

<br/>

<strong>Exemplo de envio</strong>
<p>Estão disponibilizados no GitHub dois exemplos de scripts que enviam dados
seguindo os requisitos descritos acima. Você pode encontrá-los no endereço
<a target=_blank href="https://github.com/MinisterioPublicoRJ/scripts-datalakecadg">
https://github.com/MinisterioPublicoRJ/scripts-datalakecadg
</a>.
</p>
