{% load static %}
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <title>Cadastro de usuários</title>
  </head>
  <body>
      <h3>Guia para cadastro de encio de dados ao MPRJ</h3>
      <p>Visando o intercâmbio de dados que propiciará o trabalho de inteligência
      integrado entre o Ministério Público e governo do Estado do Rio de Janeiro
      o parquet fluminense está disponibilizando para as secretarias de estado e
      seus parceiros uma ferramenta para recebimento automatizado de dados.</p>

      <p>A ferramenta receberá atualização de dados em tempo real através do envio de um método
        POST HTTP para endereços web pré-definidos, um para cada modelo de informações.</p>

      Para ter acesso a ferramenta, as OSS deverão preencher o formulário linkado abaixo,
      informando o nome da instituição, a Unidade de saúde e o e-mail do responsável
      técnico pelo envio de dados.

      Após o preenchimento do formulário nossa equipe irá criar uma chave de autenticação
      para cada cadastro, e estas serão compartilhadas através do e-mail
      cadastrado acompanhadas de instruções técnicas sobre como deve ser
      utilizada a ferramenta para a atualização de dados em tempo real.

      O formulário está disponível
      <a target="blank_" href="https://forms.office.com/Pages/ResponsePage.aspx?id=lnjkyX_gzkSGzS73hM2h29rKbBueggFBrcjYXgezl4hURFNCQUhDNlpJUDBTRzBNMlBIQkQ0TkVXOS4u">neste link</a>.
       Atenciosamente,
       Equipe MP em Mapas
   </body>
</html>
