/* Globals */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --web-view-ids: index;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../img/bg.png) no-repeat top left;
    font-family: Sans-serif;
}

p {
    margin-bottom: .75em;
}

/* Styles */

.header {
    padding: 1em 0 2em;
}

.text-size {
    color: rgba(112,112,112,1);
    height: 80%;
    margin-bottom: 1em;
    overflow-y: auto;
}

#about {
    display: none;
}

.ilustracao {
    max-width: 100%;
}

#Linha_1 {
    opacity: 1;
    fill: transparent;
    stroke: rgb(0, 106, 165);
    stroke-width: 2px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Linha_1 {
    overflow: visible;
    top: 50px;
    left: 974.5px;
    width: 2px;
    height: 64px;
}

/* Media Queries */

@media (max-width: 1023px) {
    .box {
        height: auto;
    }
}

@media (min-width: 1024px) {
    .box {
        height: 37.5em;
    }
}